<div class="mat-card-container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Please Create Your Task</mat-card-title>

    </mat-card-header>
    <mat-card-content>
      <hr>
      <form class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter tour task" autocomplete="off" [formControl]="task" required>
            <mat-error *ngIf="task.value">{{getErrorMessage()}}</mat-error>
            <button mat-button *ngIf="task.value" matSuffix mat-icon-button aria-label="Clear" (click)="task.setValue('')">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button color="primary" class="add-task-button" mat-button>ADD</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="list-of-litems-card">
    <mat-card-header>
      <mat-card-title>List of Your Tasks</mat-card-title>
      <mat-card-subtitle>Edit, delete and mark your task as fulfilled</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
<!--      <p>-->
<!--        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.-->
<!--        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally-->
<!--        bred for hunting.-->
<!--      </p>-->
     <ul class="todo-list">
       <li class="todo-item-container" *ngFor="let todoIem of todoListItems; let index = index">
         <div class="checkbox-container">
           <mat-checkbox class="checkbox-option" [class.importantItem]="todoIem.important">
             {{todoIem.title}}
           </mat-checkbox>
         </div>
         <div class="option-tools">
           <div>
             <button mat-icon-button color="primary" class="edit-item-btn">
               <mat-icon class="edit-item-icon">edit</mat-icon>
             </button>
           </div>
           <div>
             <button mat-icon-button color="primary" [class.importantButtonActive]="todoIem.important"
                     class="mark-as-important-btn" (click)="onMakeImporantItem(todoIem)">
               <mat-icon class="mark-as-important-icon">error</mat-icon>
             </button>
           </div>
           <div>
             <button mat-icon-button color="primary" class="delete-item-btn" (click)="openDialog()">
               <mat-icon class="delete-item-icon">delete</mat-icon>
             </button>
           </div>
         </div>
       </li>
     </ul>
    </mat-card-content>
    <mat-card-actions>
<!--      <button mat-button>LIKE</button>-->
<!--      <button mat-button>SHARE</button>-->
    </mat-card-actions>
  </mat-card>
</div>
