.mat-card-container {
  display: flex;
  //justify-content: center;
  flex-direction: column;
  align-items: center;

  margin-top: 20px;

  .example-card {
    max-width: 500px;
    width: 100%;
    margin-right: 20px;
    margin-left: 20px;
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .example-form {
    min-width: 150px;
    //max-width: 500px;
    width: 100%;
    margin-top: 20px;

    //.mat-checkbox-layout {
    //  margin-bottom: 10px;
    //  padding-bottom: 10px;
    //}
  }

  .example-full-width {
    width: 100%;
  }

  .add-task-button {
    border: 1px solid blue;
    margin-top: 10px;

    &[disabled="true"] {
      // color: red;
      // background-color: blue;
      // border-color: gray;
      border: 1px solid rgba(0,0,0, .26);;
    }
  }

  .mat-card-actions {
    margin: 0;
  }

  .list-of-litems-card {
    min-width: 500px;
  }

  .list-of-litems-card {
    margin-top: 20px;
  }

  .todo-list {
    padding: 0 0 0 0px;
    max-height: 200px;
    min-height: 75px;
    overflow: auto;

    .loadig-container {
      display: flex;
      justify-content: space-around;;
      align-items: center;
    }

    .todo-item-container {
      list-style-type: none;
      margin-bottom: 0px;
      //padding: 5px 5px 5px 0px;
      padding-left: 0px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 10px;

      &:hover {
        background-color: lightgrey;
        border-radius: 10px
      }
    }

    .checkbox-container {
      width: 100%;

      .checkbox-option {
        width: 100%;
        display: inline-block;
      }
      //&:hover {
      //  background-color: lightgrey;
      //}
    }

    .checkbox-option {
      padding-left: 16px;
    }

    .option-tools {
      display: flex;
    }

    .edit-item-btn {

      .edit-item-icon:hover {
        //color: royalblue;
        color: deepskyblue;
        transform: scaleX(1.2) scaleY(1.2);
      }
    }

    .mark-as-important-btn {

      .mark-as-important-icon:hover {
        color: orange;
        transform: scaleX(1.2) scaleY(1.2);
      }
    }

    .delete-item-btn {

      .delete-item-icon:hover {
        color: red;
        transform: scaleX(1.2) scaleY(1.2);
      }
    }

    .importantItem {
      font-weight: 900;
      font-size: 16px;
    }

    .importantButtonActive {
      color: orange;
    }

    .todoItemIsDone {
      text-decoration: line-through;
    }

    .list-is-empty-description {
      font-size: 15px;
      color: deeppink;
      padding-left: 15px;
    }
  }
}


:host ::ng-deep .mat-checkbox-layout {
  //width: calc(100% - 16px);
  width: 100%;
  margin-left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0;
}

:host ::ng-deep .mat-checkbox-inner-container {
  margin-left: 0;
}


#loading {
  display: inline-block;
  width: 45px;
  height: 45px;
  border: 3px solid black;
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
