<div class="mat-card-container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Your Tasks</mat-card-title>
      <mat-card-subtitle>Create, delete and mark your task as fulfilled</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <hr>
      <form class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter tour task" autocomplete="off" [formControl]="task" required>
            <mat-error *ngIf="task.value">{{getErrorMessage()}}</mat-error>
            <button mat-button *ngIf="task.value" matSuffix mat-icon-button aria-label="Clear" (click)="task.setValue('')">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button color="primary" class="add-task-button" mat-button>ADD</button>
    </mat-card-actions>
  </mat-card>
</div>
